<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1084725543935-8d78estpr8aagq77ov7bbl3uck61q8c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084725543935-8d78estpr8aagq77ov7bbl3uck61q8c9</string>
	<key>API_KEY</key>
	<string>AIzaSyBMUWbgVsSzGT0sYi3dv4glwi4sciY5rSs</string>
	<key>GCM_SENDER_ID</key>
	<string>1084725543935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.camp.PhonemoQuiz</string>
	<key>PROJECT_ID</key>
	<string>phonemoquiz</string>
	<key>STORAGE_BUCKET</key>
	<string>phonemoquiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084725543935:ios:8a5030129d19244f</string>
	<key>DATABASE_URL</key>
	<string>https://phonemoquiz.firebaseio.com</string>
</dict>
</plist>